<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosco: Login</title>
</head>
<body>
    <div th:if="${not #strings.isEmpty(error)}">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <div>
            <label for="username">Username:</label>
            <input th:field="*{username}" type="text" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input th:field="*{password}" type="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>